* > div {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
}

h3 {
  font-size: 1.2rem;
  color: #F0E9D2;
}

body {
  background-color: #181D31;
  color: #E6DDC4;
}

.card-login {
  background-color: #678983;
  color: #F0E9D2;
  width: 90vw;
  max-width: 35rem;
  margin: 50px auto 50px auto;
}

.card-form {
  background-color: #678983;
  color: #F0E9D2;
  width: 70vw;
  max-width: 70vw;
  margin: 50px auto 5px auto;
}

.card-user {
  width: 25rem;
  max-width: 25rem;
}

.card-user * {
  color: #181D31;
}

.container-principal {
  margin: 0;
  padding: 0;
}

.container-main {
  width: 90vw;
  margin: 10px auto;
}

.container-table {
  width: 90vw;
  margin: 30px auto;
}

.tabela * {
  color: #F0E9D2;
}

td * {
  color: #F0E9D2;
}

.col-center {
  text-align: center;
}

.link-table {
  text-decoration: none;
  color: #E6DDC4;
  cursor: pointer;
  font-size: 1rem;
}

.brand-nav {
  margin: 40px auto;
}

.brand-title {
  font-size: 2.3rem;
  color: #181D31;
  margin: 5px auto;
}

.menu-bar {
  display: fixed;
  background-color: #F0E9D2;
  height: 100vh;
  color: #181D31;
}

.logo {
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 0;
  margin: 2px 0;
}

.menu-ico {
  margin: 0;
  padding: 0;
  align-self: center;
}

.menu-text {
  margin: 0;
  padding: 0;
}

.text-item {
  font-size: 1.1rem;
  color: #181D31;
}

.profile-pic {
  width: 70px;
  border-radius: 5rem;
  margin-top: 10px;
}