* {
  margin: 0;
  padding: 0;
  color: #E6DDC4;
}

body {
  background-color: #181D31;
  color: #E6DDC4;
}

.card-login {
  background-color: #678983;
  color: #F0E9D2;
  width: 90vw;
  max-width: 35rem;
  margin: 50px auto 50px auto;
}

.card-form {
  background-color: #678983;
  color: #F0E9D2;
  width: 90vw;
  max-width: 90vw;
  margin: 50px auto 50px auto;
}

.container-main {
  width: 90vw;
  margin: 10px auto;
}

.container-table {
  width: 90vw;
  margin: 30px auto;
}

.tabela > tr > td {
  background-color: #E6DDC4;
  color: #181D31;
}

.col-center {
  text-align: center;
}

.link-table {
  text-decoration: none;
  color: #E6DDC4;
  cursor: pointer;
  font-size: 1rem;
}